div(style='width: 100%; height: 600px;')
  a.bithub-embed(href='http://bithub.com/embed?hubId=3&tenant=celestial_autumn_3167&view=public') CleverStack Social Hub Embed
  script(src='http://bithub.com/embed.js')