extends ../../../../layouts/subdocs

block head
  title Documentation &middot; CleverStack.io

block docsheader
  h1 Backend Documentation
  p Grunt Tasks and the CleverStack Node.js Framework

block content
  include ../../../../includes/section/backend/grunt-tasks

  .google-ads(style='margin-bottom: 25px;')
    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5940583402028078', data-ad-slot='1974927947', data-ad-format='auto')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});

  ul.pager(style='margin-top: 50px;')
    li.previous
      a.btn(href="/documentation/backend/project-structure/", title="Project Structure")
        i.fa.fa-backward
        |  Back 
    li.next
      a.btn(href="/documentation/backend/using-the-cli/", title="Using the CLI") Next 
        i.fa.fa-forward
