extends ../../layouts/subdocs

block head
  title Documentation &middot; CleverStack.io

block docsheader
  h1 Documentation
  p Indepth guides covering installation, configuration, usage and extending.

block sidenav
  li
    a(href="/documentation/frontend/") Frontend
  li
    a(href="/documentation/cli/") CLI
  li
    a(href="/documentation/backend/") Backend

block content
  .bs-docs-section
    .page-header
      p.lead
        | Developers all over the world for years have been striving to be able to create smarter, smaller, easier to manage, faster to develop, re-usable chunks of code that are as modular as possible without sacrificing code quality or developer sanity.
    p
      | CleverStack set out to accomplish this and create the worlds first Modular Full Stack JS Framework, with the Architecture designed by 
      a(href='https://github.com/pilsy') Richard Gustin
      |  and his role as Lead working with a 
      a(href='/about/#team') group of highly skilled developers
      |  we believe that we accomplished this task.
    p
      | What this mean's for you is, you are able to create smaller, more specific modules that are extremely powerful, completely self contained and can be used between many projects. If you believe your module is useful you can publish your module to the CleverStack EcoSystem through NPM (Backend) or Bower (Frontend).
    p
      | We have broken the documentation down into three major sections, please choose one of the following to view specific documentation. (Or choose from the navigation on the left.
    div(style='text-align: center; max-width: 645px;margin-left:auto;margin-right:auto')
      p.seeds-list
        a#frontend(href='/documentation/frontend', style='text-align: center')
          img(src='/images/logos/angular-seed-logo-clean.png', alt='angular seed')
          br
          br
          strong Angular Frontend
        a#cli(href='/documentation/cli', style='text-align: center')
          img(src='/images/logos/clevertech-seed-logo-clean.png', alt='clevertech seed')
          br
          br
          strong CLI
        a#backend(href='/documentation/backend', style='text-align: center')
          img(src='/images/logos/node-seed-logo-clean.png', alt='node seed')
          br
          br
          strong Node Backend