extends ../../../../layouts/subdocs

block head
  title Documentation &middot; CleverStack.io

block docsheader
  h1 Backend Documentation
  p Using the CleverStack CLI with the Node.js Backend

block content
  include ../../../../includes/section/backend/using-the-cli

  .google-ads(style='margin-bottom: 25px;')
    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5940583402028078', data-ad-slot='1974927947', data-ad-format='auto')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});

  ul.pager(style="margin-top: 50px;")
    li.previous
      a.btn(href="/documentation/backend/grunt-tasks/", title="Grunt Tasks")
        i.fa.fa-backward
        |  Back 
    li.next
      a.btn(href="/documentation/backend/debugging/", title="Debugging") Next 
        i.fa.fa-forward
