extends ../../../../../layouts/subdocs

block head
  title Controller Definition &middot; Documentation &middot; CleverStack.io

block docsheader
  h1 Backend Documentation
  p Controller Definition in the CleverStack Node js Framework.

block content
  .google-ads(style='margin-bottom: 25px;')
    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5940583402028078', data-ad-slot='1974927947', data-ad-format='auto')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
  
  include ../../../../../includes/section/backend/controllers/definition

  ul.pager(style="margin-top: 50px;")
    li.previous
      a.btn(href="/documentation/backend/controllers/options/", title="Controller Options")
        i.fa.fa-backward
        |  Back 
    li.next
      a.btn(href="/documentation/backend/controllers/actions/", title="Controller Actions") Next 
        i.fa.fa-forward