extends ../../../../layouts/subdocs

block head
  title Documentation &middot; CleverStack.io

block docsheader
  h1 Documentation
  p Introduction to the CleverStack Node.js Framework

block content
  include ../../../../includes/section/backend/introduction

  ul.pager
    li.previous
      a.btn(href="/documentation/backend/") Backend Docs
    li.next
      a.btn(href="/documentation/backend/magic-modules/") Magic Modules
