extends ../../../../layouts/default

block head
  title Documentation &middot; CleverStack.io

block docsheader
  h1 Documentation
  p Indepth guides to CleverStack covering installation, configuration, usage and extending.

block sidenav
  include ../../../../includes/section/backend/nav

block content
  include ../../../../includes/section/backend/introduction
  //- include ../../../../includes/sections/backend/configuration
  //- include ../../../../includes/sections/backend/grunt-tasks
  //- include ../../../../includes/sections/backend/using-the-cli
  //- include ../../../../includes/sections/backend/debugging
  //- include ../../../../includes/sections/backend/classes
  //- include ../../../../includes/sections/backend/modules
  //- include ../../../../includes/sections/backend/controllers
  //- include ../../../../includes/sections/backend/services
  //- include ../../../../includes/sections/backend/models
  //- include ../../../../includes/sections/backend/gulp-tasks.htm
  //- include ../../../../includes/sections/backend/testing.htm
  //- include ../../../../includes/sections/backend/deployment.htm
  //- include ../../../../includes/sections/backend/getting-help
  //- include ../../../../includes/sections/backend/contributing