h4#magic-modules-list.page-header(style='color: #2980b9; font-size: 125%; font-weight: 500;')
  | Magic Module List 
  small
    | (you can 
    code require
    |  any of these anywhere in your application).
  a.permalink(href='/documentation/backend/magic-modules/#magic-modules-list', title='Permalink')
    small ¶
ul
  li injector
  li classes
  li config
  li controllers
  li exceptions
  li models
  li seedData
  li services
  li tasks
  li utils
br