.bs-docs-section
  h3#middleware.page-header
    | Middleware 
    a.permalink(href='#middleware', title='Permalink')
      small ¶
  ol.breadcrumb
    li
      a(href='/documentation/#backend') Documentation
    li
      a(href='/documentation/backend/#controllers') Backend
    li
      a(href='/documentation/backend/controllers/#middleware') Controllers
    li.active Middleware
  
  script(src='https://gist.github.com/pilsy/196ae70a428aebc5f15a.js')