li
  a(href='/documentation/backend/controllers/', style='padding-left: 10px !important;color: #563d7c;')
    strong Backend
    br
    small (viewing Controllers)
li
  a(href='#overview') Overview
li
  a(href='#options') Options
li
  a(href='#definition') Definition
li
  a(href='#actions') Actions
li
  a(href='#middleware') Middleware
li
  a(href='#routing') Routing