extends ../../../../layouts/default

block head
  title Controllers &middot; Documentation &middot; CleverStack.io

block docsheader
  h1 Backend Documentation
  p Indepth guides covering Controllers in the CleverStack Node js framework.

block sidenav
  include ../../../../includes/section/backend/controllers/nav

block content
  include ../../../../includes/section/backend/controllers/overview
  include ../../../../includes/section/backend/controllers/options
  include ../../../../includes/section/backend/controllers/definition
  include ../../../../includes/section/backend/controllers/actions
  include ../../../../includes/section/backend/controllers/middleware
  include ../../../../includes/section/backend/controllers/routing