extends ../../../../layouts/subdocs

block head
  title Documentation &middot; CleverStack.io

block docsheader
  h1 Documentation
  p Magic Modules &amp; the NODE_PATH

block content
  include ../../../../includes/section/backend/magic-modules

  ul.pager
    li.previous
      a.btn(href="/documentation/backend/introduction/") Introduction
    li.next
      a.btn(href="/documentation/backend/official-modules/") Official Modules
