extends ../../../../layouts/subdocs

block head
  title Documentation &middot; CleverStack.io

block docsheader
  h1 Backend Documentation
  p Magic Modules: the easiest, cleanest and fastest way to load your node js code!

block content
  include ../../../../includes/section/backend/magic-modules

  ul.pager(style="margin-top: 50px;")
    li.previous
      a.btn(href="/documentation/backend/introduction/", title="Introduction")
        i.fa.fa-backward
        |  Back 
    li.next
      a.btn(href="/documentation/backend/official-modules/", title="Official Modules") Next 
        i.fa.fa-forward