.bs-docs-section
  .page-header
    h1(id="community") Community

  p.lead Stay up to date on the development of CleverStack and reach out to the community with these helpful resources.
  ul
    li Read and subscribe to <a href="http://clevertech.biz/devblog/">The CleverTech Dev Blog</a> for CleverStack news and updates.
    li Follow <a href="https://twitter.com/clevertech">@clevertech on Twitter</a>.