.bs-docs-section
  .page-header
    h1.goals Goals

  p.lead Our main goal is to provide you with a cutting edge starting point for you Angular and Node web apps.
  p Other goals include:
  ul
    li Open source community with CleverStack to help others solve thier issues.
    li Automated unit &amp; e2e testing with AngularJS
    li Reliable RequireJS integration with AngularJS
    li AMD spec modularity of features so you can include what you want and exclude what you dont.
    li Easy command line driven install.
    li NodeJS background tasks.
    li NodeJS database rebase and seeding.
    li Using cutting edge web technologies such as Protractor, Chrome Driver and Selenium Server (Web Driver).