.bs-docs-section
  .page-header
    h1.history History

  p.lead Clevertech has been developing web applications for over 12 years and with all this experience and a highly skilled developer team we have decided to bring CleverStack to open source.
  p Our aim with CleverStack is to provide the development community with a lean starting point for AngularJS and NodeJS powered web applications. We like to use leading cutting edge technologies to allow for a very automated development workflow. We utilize technologies such as Grunt, Node/NPM &amp; Bower (and many more) to provide rich features out of the box and take care of all the complex configurations for you!
  p CleverStack also features an easy to use Command Line Interface (CLI) which allows you to start &amp; manage new projects soley from your terminal. It's still in early stages but you are able to re-use your code in AMD spefication modules which gives you the freedom and power to enhance your apps with new features literally in seconds via the CLI.
  button(type="button" class="btn btn-primary" href="http://clevertech.biz") Find out more about Clevertech