.bs-docs-section
  h1(id="license") License

  p.lead CleverStack was created by developers working for <a href="http://clevertech.biz">Clevertech</a>, a world-wide web development company. It's distributed under the <a href="http://mit-license.org/">MIT license</a>.