.bs-docs-section
  .page-header
    h1.roadmap Roadmap

  p.lead Our main goal is to provide you with a cutting edge starting point for you Angular and Node web apps.
  p CleverStack is still in the early stages of development, issues and feedback is greatly appreciated.
  ul
    li 2013 May - CleverStack Angular &amp; Node Seeds start as open source on GitHub.
    li 2014 Jan - CleverStack BETA release/s of modularity and CLI.
    li 2014 Feb - CleverStack 1.0.x release of modularity and CLI.
    li 2014 July - CleverStack 1.0.x release of node-seed support for clever-orm and clever-odm.
    li 2014 August - CleverStack 1.2.x BETA release of angular-seed.
    li 2014 October - CleverStack documentation overhaul.