.bs-docs-section
  .page-header
    h1(id="team") Team

  p.lead CleverStack is maintained by <a href="http://au.linkedin.com/in/richardgustin">Richard Gustin</a> (<a href="https://github.com/pilsy">@pilsy</a>), our core developers and our open source community.

  h2(id="team-core") Core devs
    div(class=".list-group bs-team")
      .list-group-item
        iframe(class="github-btn" src="//ghbtns.com/github-btn.html?user=pilsy&amp;type=follow")
        a(class="team-member" href="//github.com/pilsy")
          img(src="//www.gravatar.com/avatar/7efda298b27c121bd03ecfc019b58989")
          strong Richard Gustin
          small @pilsy

      .list-group-item
        iframe(class="github-btn" src="//ghbtns.com/github-btn.html?user=durango&amp;type=follow")
        a(class="team-member" href="//github.com/durango")
          img(src="//www.gravatar.com/avatar/edd4ff96a1309aec1baad2860f276833")
          strong Daniel Durante
          small @durango

      .list-group-item
        iframe(class="github-btn" src="//ghbtns.com/github-btn.html?user=danielyoung&amp;type=follow")
        a(class="team-member" href="//github.com/danielyoung")
          img(src="//www.gravatar.com/avatar/ba116dfd1442576756a092efcd79a014")
          strong Daniel Young
          small @danielyoung

  p *Plus other Clevertech (previous and current) developers not mentioned above.
  p Get involved with CleverStack development by <a href="https://github.com/CleverStack/cleverstack-cli/issues/new">opening an issue</a> or submitting a pull request. Read our <a href="https://github.com/CleverStack/cleverstack-cli/blob/master/CONTRIBUTING.md">contributing guidelines</a> for information on how we develop.