.bs-docs-section
  include ./classes/overview
  include ./classes/definition
  include ./classes/extending
  include ./classes/examples
  include ./classes/inheritance
  include ./classes/events
  include ./classes/proxies