.bs-docs-section
  h3#introduction.page-header
    | Introduction 
    a.permalink(href='/documentation/backend/introduction/', title='Permalink')
      small ¶
    br
    small To the CleverStack NodeJS based backend
  ol.breadcrumb
    li
      a(href='/documentation/') Documentation
    li
      a(href='/documentation/backend/') Backend
    li.active Introduction
  p.lead
    | CleverStack has been designed to provide you with a 
    strong
      i super fast test driven back-end development lifecycle
    |  that will make writing even the most (seemingly) complex applications trivial.
  br
  p.lead.sub
    | Everything you need should be just one command away, if it's not please open an issue or fork the repo on github and submit a pull request.
  h4.page-header(style='color: #2980b9; font-size: 125%; font-weight: 500;') Highlights 
    small
      | (of the CleverStack 
      a(href='http://git.com/CleverStack/node-seed') node-seed
      | )
    br
    a(href='http://badge.fury.io/gh/cleverstack%2Fnode-seed')
      img(src='https://camo.githubusercontent.com/780f3b180163f7f4e2bf45b25d6de2978ccb12a2/68747470733a2f2f62616467652e667572792e696f2f67682f636c65766572737461636b2532466e6f64652d736565642e706e67', alt='GitHub version', data-canonical-src='https://badge.fury.io/gh/cleverstack%2Fnode-seed.png', style='max-width:100%;') 
    a(href='https://david-dm.org/CleverStack/node-seed')
      img(src='https://camo.githubusercontent.com/924f7b6dd7756dd48478c6913f57511d654d2a00/68747470733a2f2f64617669642d646d2e6f72672f436c65766572537461636b2f6e6f64652d736565642e706e67', alt='Dependency Status', data-canonical-src='https://david-dm.org/CleverStack/node-seed.png', style='max-width:100%;') 
    a(href='https://david-dm.org/CleverStack/node-seed#info=devDependencies')
      img(src='https://camo.githubusercontent.com/57e9e6440897091e5850a44e4817036f08d7bc36/68747470733a2f2f64617669642d646d2e6f72672f436c65766572537461636b2f6e6f64652d736565642f6465762d7374617475732e706e67', alt='devDependency Status', data-canonical-src='https://david-dm.org/CleverStack/node-seed/dev-status.png', style='max-width:100%;') 
    a(href='https://codeclimate.com/github/CleverStack/node-seed')
      img(src='https://camo.githubusercontent.com/08640ac5b5f31f848b32494cf28a92bd16e4313e/68747470733a2f2f636f6465636c696d6174652e636f6d2f6769746875622f436c65766572537461636b2f6e6f64652d736565642e706e67', alt='Code Climate', data-canonical-src='https://codeclimate.com/github/CleverStack/node-seed.png', style='max-width:100%;') 
    a(href='https://travis-ci.org/CleverStack/node-seed')
      img(src='https://camo.githubusercontent.com/8b01956ca6a99f6a413d05139e11f58e04bb770f/68747470733a2f2f7365637572652e7472617669732d63692e6f72672f436c65766572537461636b2f6e6f64652d736565642e706e673f6272616e63683d6d6173746572', alt='Build Status', data-canonical-src='https://secure.travis-ci.org/CleverStack/node-seed.png?branch=master', style='max-width:100%;') 
    a(href='http://gruntjs.com/')
      img(src='https://camo.githubusercontent.com/02d9825a669fb5b9f53bfe2e5a3fa4a1081cdb6a/68747470733a2f2f63646e2e6772756e746a732e636f6d2f6275696c74776974682e706e67', alt='Built with Grunt', data-canonical-src='https://cdn.gruntjs.com/builtwith.png', style='max-width:100%;')
  ul
    li
      a(href='http://nodejs.org/api/cluster.html') Clustered,
      |  enterprise application with high 
      a(href='http://en.wikipedia.org/wiki/Concurrency_(computer_science)') Concurrency
      |  out of the box.
    li
      | Asynchronous, 
      a(href='http://nodejs.org/') NodeJS
      |  Powered Non-Blocking Core.
    li Modular Architecture with Open Source Eco System for modules.
    li MEAN Stack and so much more! (Mongo, Express, Angular, Node)
    li
      | Official ODM (
      a(href='http://css.dzone.com/articles/era-object-document-mapping') Object Document Mapper
      | ) Module provides an enterprise 
      a(href='http://en.wikipedia.org/wiki/NoSQL') NoSQL
      |  based solution out of the box.
    li
      | Official ORM (
      a(href='http://en.wikipedia.org/wiki/Object-relational_mapping') Object Relational Mapper
      | ) Module provides an enterprise 
      a(href='http://en.wikipedia.org/wiki/SQL') SQL
      |   based solution out of the box.
    li
      | Databases supported: 
      a(href='http://www.mysql.com/') MySQL
      | , MSSQL, Oracle, MariaDB, 
      a(href='http://www.postgresql.org/') PostgreSQL
      | , 
      a(href='http://www.sqlite.org/') SQLite
      |  or 
      a(href='http://www.mongodb.org/') MongoDB
      | .
    li CLI Commands available to help ease your workload (including generators)
    li
      a(href='http://gruntjs.com/') Grunt
      |  (or Gulp) powered tasks, including Server with Live Restart using 
      a(href='https://www.npmjs.org/package/nodemon') nodemon.
    li
      | NodeJS 
      a(href='https://github.com/CleverStack/clever-background-tasks') Background Tasks Module
      |  which allows CPU intensive (blocking) operations to take place in separate processes, allowing your HTTP Web Server Processes to continue serving HTTP Requests.
    li
      | Unit & E2E (Integration) Testing with 
      a(href='https://www.npmjs.org/package/mocha') Mocha
      |  and 
      a(href='https://www.npmjs.org/package/request') Request
      | .
    li Code Coverage reports for E2E and Unit test/s.
    li Powerful database rebase and seed tools for Rapid Application Development
  br
  .center-block
    p
      
