.bs-docs-section
  h3#magic-modules.page-header
    | Magic Modules 
    a.permalink(href='#backend-magic-modules', title='Permalink')
      small ¶
    br
    small
      | The Magic that enables CleverStack to do things like require('injector'), require('config') etc
  ol.breadcrumb
    li
      a(href='#overview') Documentation
    li
      a(href='#backend') Backend
    li.active Magic Modules
  p.lead
    | Our NodeJS Backend takes advantage of an NPM feature called the 
    i Node Path
    | , by using the environment variable 
    code NODE_PATH
    |  we are able to take advantage of require's hidden power - to load folders as if they were an NPM Module.
  h4#magic-modules-usage.page-header(style='color: #2980b9; font-size: 125%; font-weight: 500;') Usage
  p.lead.sub
    | Using our Magic Module utility, gives you the ability to load things, like this: 
    small (in any module/file)
    script(src="https://gist.github.com/pilsy/8680a3889d91547b7ec9.js")
  p
    | You can use this loading syntax in any file inside your project (including files inside of modules), And you can use this utility yourself to create custom folders/modules, by simply doing 
    code require('utils').magicModule('folderName')
    | .
  br
  .bs-callout.bs-callout-danger
    h4
      | Common Issue, running commands without the CLI 
      small
        | (ie 
        code grunt server
        |  or 
        code node app
        | )
    p
      | If you want to run, or are trying to run commands without the CLI (
      code clever
      |  command) - Remember to set your 
      code NODE_PATH
      | , see 
      a(href='#setting-your-node-path') setting your node path
      |  below.
      br
      br
      img(src='/images/screenshots/node-path-not-set-error.png', width='100%')
  br
  h4#magic-modules-list.page-header(style='color: #2980b9; font-size: 125%; font-weight: 500;')
    | Magic Module List 
    small
      | (you can 
      code require
      |  any of these anywhere in your application).
  ul
    li injector
    li classes
    li config
    li controllers
    li exceptions
    li models
    li seedData
    li services
    li tasks
    li utils
  h4#setting-your-node-path.page-header(style='color: #2980b9; font-size: 125%; font-weight: 500;')
    | Setting your 
    code NODE_PATH
  p.lead.sub
    | In most cases you will not need to set your 
    code NODE_PATH
    | , however if you are running commands without 
    code clever
    | , (like 
    code node cluster
    | , or 
    code nodemon app
    |  for example), or see an error like the following image, then you will need to set your 
    code NODE_PATH
    | .
  br
  img(src='/images/screenshots/node-path-not-set-error.png', width='100%')
  br
  br
  h5 On Mac/Linux:
  | {% highlight bash %}export NODE_PATH=./lib/:./modules/{% endhighlight %}
  h5 On Windows:
  | {% highlight bash %}set NODE_PATH=./lib/;./modules/{% endhighlight %}
