li
  a(href='/documentation#backend', style='padding-left: 10px !important;color: #563d7c;')
    strong Documentation
    br
    small (viewing Backend)
li
  a(href='#introduction', data-permalink="/documentation/backend/introduction/") Introduction
li
  a(href='#magic-modules', data-permalink="/documentation/backend/magic-modules/") Magic Modules
  ul.nav.nav-nest
    li
      a(href='#magic-modules-usage', data-permalink='/documentation/backend/magic-modules/#magic-modules-usage') Usage
    li
      a(href='#magic-modules-list', data-permalink='/documentation/backend/magic-modules/#magic-modules-list') Magic Module List
    li
      a(href='#setting-your-node-path', data-permalink='/documentation/backend/magic-modules/#setting-your-node-path') Setting your NODE_PATH
li
  a(href='#official-modules', data-permalink='/documentation/backend/official-modules/') Official Modules
li
  a(href='#di', data-permalink='/documentation/backend/dependency-injection/') Dependency Injection
li
  a(href='#project-structure', data-permalink='/documentation/backend/project-structure/') Project Structure
  ul.nav.nav-nest
    li
      a(href='#directory-structure') Directory Structure
    li
      a(href='#important-folders') Important Folders
    li
      a(href='#important-files') Important Files
li
  a(href='#configuration', data-permalink='/documentation/backend/configuration/') Configuration
  ul.nav.nav-nest
    li
      a(href='#configuration-files') Configuration Files
    li
      a(href='#loading-configuration') Loading Configuration
    li
      a(href='#cli-configuration-prompts') CLI Configuration Prompts
li
  a(href='#grunt-tasks', data-permalink='/documentation/backend/grunt-tasks') Grunt Tasks
li
  a(href='#using-the-cli', data-permalink='/documentation/backend/using-the-cli/') Using the CLI
  ul.nav.nav-nest
    li
      a(href='#creating-projects') Creating Projects
    li
      a(href='#starting-the-server') Starting the Server
    li
      a(href='#repl-console') REPL Console
    li
      a(href='#code-generators') Code Generators
    li
      a(href='#running-unit-tests') Running Unit Tests
    li
      a(href='#running-e2e-tests') Running E2E Tests
li
  a(href='#debugging', data-permalink='/documentation/backend/debugging/') Debugging
li
  a(href='#classes', data-permalink='/documentation/backend/classes/') Class
li
  a(href='#modules', data-permalink='/documentation/backend/modules/') Modules
li
  a(href='#controllers', data-permalink='/documentation/backend/controllers/') Controllers
li
  a(href='#services', data-permalink='/documentation/backend/services/') Services
li
  a(href='#models', data-permalink='/documentation/backend/models/') Models
li
  a(href='#getting-help', data-permalink='/documentation/backend/getting-help/') Getting Help
li
  a(href='#contributing', data-permalink='/documentation/backend/contributing/') Contributing