h3#official-modules.page-header
  | Official Modules 
  a.permalink(href='/documentation/backend/#official-modules', title='Permalink')
    small ¶
  br
  small
    | Open Source CleverStack Modules that enhance and enrich your application with features.
ol.breadcrumb
  li
    a(href='/documentation') Documentation
  li
    a(href='/documentation/backend') Backend
  li.active Official Modules
p.lead
  | CleverStack has Open Source Modules for things like 
  a(href='http://github.com/CleverStack/clever-auth') Authentication
  | , 
  a(href='http://github.com/CleverStack/clever-accounts') Accounts
  | , 
  a(href='http://github.com/CleverStack/clever-roles') Roles
  |  (RBAC), 
  a(href='http://github.com/CleverStack/clever-background-tasks') Background Tasks
  |  (processes), 
  a(href='http://github.com/CleverStack/clever-countries') Country
  |  & 
  a(href='https://github.com/CleverStack/clever-timezone-backend') Timezone
  |  Databases, 
  a(href='http://github.com/CleverStack/clever-subscription') Subscriptions
  |  (as a service) - as well as many more...
  br
  br
  small
    | We recommend visiting our 
    a(href='/modules/?frontend=on&backend=on#') Modules page
    |  to get the full and upto date list of modules.
