extends ../../../layouts/default

block head
  title Documentation &middot; CleverStack.io

block docsheader
  h1 Documentation
  p Indepth guides covering installation, configuration, usage and extending.

block sidenav
  include ../../../includes/section/backend/nav

block content
  include ../../../includes/section/backend/introduction
  include ../../../includes/section/backend/magic-modules
  include ../../../includes/section/backend/official-modules
  include ../../../includes/section/backend/dependency-injection
  include ../../../includes/section/backend/project-structure
  include ../../../includes/section/backend/configuration
  include ../../../includes/section/backend/grunt-tasks
  include ../../../includes/section/backend/using-the-cli
  include ../../../includes/section/backend/debugging

  .bs-docs-section
    include ../../../includes/section/backend/classes/overview
    include ../../../includes/section/backend/classes/definition
    include ../../../includes/section/backend/classes/extending
    include ../../../includes/section/backend/classes/examples
    include ../../../includes/section/backend/classes/inheritance
    include ../../../includes/section/backend/classes/events
    include ../../../includes/section/backend/classes/proxies
  //- include ../../../includes/sections/backend/modules
  //- include ../../../includes/sections/backend/controllers
  //- include ../../../includes/sections/backend/services
  //- include ../../../includes/sections/backend/models
  //- include ../../../includes/sections/backend/gulp-tasks.htm
  //- include ../../../includes/sections/backend/testing.htm
  //- include ../../../includes/sections/backend/deployment.htm
  //- include ../../../includes/sections/backend/getting-help
  //- include ../../../includes/sections/backend/contributing