.bs-docs-section
  h3#events.page-header
    | Events 
    a.permalink(href='/documentation/backend/classes/events/', title='Permalink')
      small ¶
  ol.breadcrumb
    li
      a(href='/documentation/#backend') Documentation
    li
      a(href='/documentation/backend/#classes') Backend
    li
      a(href='/documentation/backend/classes/#events') Classes
    li.active Events
  .bs-callout.bs-callout-danger
    h4 Needs more information
    p
      | This section of the documentation is either out-dated or incomplete, please ask for help in github or gitter if you need more information.
