.bs-docs-section
  h3#examples.page-header
    | Examples 
    a.permalink(href='/documentation/backend/classes/examples/', title='Permalink')
      small ¶
  ol.breadcrumb
    li
      a(href='/documentation/#backend') Documentation
    li
      a(href='/documentation/backend/#classes') Backend
    li
      a(href='/documentation/backend/classes/#examples') Classes
    li.active Examples

  p Here is an example of creating a class and using the proxy function as well as emitting events.
  script(src="https://gist.github.com/pilsy/103174838b5a2cbd26d3.js")