.bs-docs-section
  h3#extending.page-header
    | Extending 
    a.permalink(href='/documentation/backend/classes/extending/', title='Permalink')
      small ¶
  ol.breadcrumb
    li
      a(href='/documentation/#backend') Documentation
    li
      a(href='/documentation/backend/#classes') Backend
    li
      a(href='/documentation/backend/classes/#extending') Classes
    li.active Extending

  br
  p
    | Every Class will provide an extend function that can be used to extend the functionality of a Class with some new functionality as provided in the Static and Prototype of the extend call.
  p
    | A good example of class extension is the Controller class (in lib folder), it extends from Class and every module/s controller/s extend from Controller.
  p
    | When you overload a method from a parent class, you can call the parents method by using 
    code this._super()

  script(src="https://gist.github.com/pilsy/103174838b5a2cbd26d3.js")