h3#inheritance.page-header
  | Inheritance 
  a.permalink(href='#inheritance', title='Permalink')
    small ¶
ol.breadcrumb
  li
    a(href='/documentation') Documentation
  li
    a(href='/documentation/backend') Backend
  li
    a(href='/documentation/backend/classes') Classes
  li.active Inheritance
.bs-callout.bs-callout-danger
  h4 Needs more information
  p
    | This section of the documentation is either out-dated or incomplete, please ask for help in github or gitter if you need more information.
