.bs-docs-section
  h3#inheritance.page-header
    | Inheritance 
    a.permalink(href='/documentation/backend/classes/inheritance/', title='Permalink')
      small ¶
  ol.breadcrumb
    li
      a(href='/documentation/#backend') Documentation
    li
      a(href='/documentation/backend/#classes') Backend
    li
      a(href='/documentation/backend/classes/#inheritance') Classes
    li.active Inheritance

  .bs-callout.bs-callout-warning
    h4 Needs more information
    p This section of the documentation is either out-dated or incomplete, please ask for help in github or gitter if you need more information.
