.bs-docs-section
  h3#proxy-methods.page-header
    | Proxy Methods 
    a.permalink(href='/documentation/backend/classes/proxy-methods/', title='Permalink')
      small ¶
  ol.breadcrumb
    li
      a(href='/documentation/#backend') Documentation
    li
      a(href='/documentation/backend/#classes') Backend
    li
      a(href='/documentation/backend/classes/#proxy-methods') Classes
    li.active Proxy Methods
  p
    | Proxies are a helpful way of flattening your code, you don't need to nest or repeat yourself - structure it out into something more modular and re-usable.
  br
  script(src="https://gist.github.com/pilsy/b27216bc5ea146d30541.js")