extends ../../../../../layouts/subdocs

block head
  title Creating Modules &middot; Documentation &middot; CleverStack.io

block docsheader
  h1 Backend Documentation
  p Creating Modules in the CleverStack Node &amp; Angular Framework.

block content
  .google-ads(style='margin-bottom: 25px;')
    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5940583402028078', data-ad-slot='1974927947', data-ad-format='auto')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
  
  include ../../../../../includes/section/backend/modules/creating-modules

  ul.pager(style="margin-top: 50px;")
    li.previous
      a.btn(href="/documentation/backend/modules/hooks-and-events/", title="Module Hooks &amp; Events")
        i.fa.fa-backward
        |  Back 
    li.next
      a.btn(href="/documentation/backend/modules/testing-modules/", title="Testing Modules") Next 
        i.fa.fa-forward