meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
meta(name="description", content="CleverStack, the Enterprise-grade, Open-Source Full-Stack JavaScript Framework built on NodeJS and Angular, MEAN and so much more!")
meta(name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development, node.js, express, mongoose, mongodb, angularjs, swig, sequelize, sequelizejs, orm, odm, cli")
meta(name="author" content="Richard Gustin and contributors to the CleverStack Repositories")
link(href="http://cleverstack.io/dist/css/main_screen.min.css", media="screen, projection", rel="stylesheet")
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(src="http://cleverstack.io/dist/js/bootstrap.min.js")
block head
  title="CleverStack.io"


include ../../includes/favico
include ../../includes/html5shim