extends ../../../../layouts/default

block head
  title Documentation &middot; CleverStack.io

block docsheader
  h1 Backend Documentation
  p Indepth guides covering Classes in the CleverStack Node js framework.

block sidenav
  include ../../../../includes/section/backend/classes/nav

block content
  include ../../../../includes/section/backend/classes/overview
  include ../../../../includes/section/backend/classes/definition
  include ../../../../includes/section/backend/classes/extending
  include ../../../../includes/section/backend/classes/examples
  include ../../../../includes/section/backend/classes/inheritance
  include ../../../../includes/section/backend/classes/events
  include ../../../../includes/section/backend/classes/proxies