extends ../../../../layouts/default

block head
  title Modules &middot; Documentation &middot; CleverStack.io

block docsheader
  h1 Backend Documentation
  p Indepth guides covering Modules in the CleverStack Node js framework.

block sidenav
  include ../../../../includes/section/backend/modules/nav

block content
  include ../../../../includes/section/backend/modules/introduction
  include ../../../../includes/section/backend/modules/what-are-modules
  include ../../../../includes/section/backend/modules/what-about-npm
  include ../../../../includes/section/backend/modules/what-powers-modules
  include ../../../../includes/section/backend/modules/example-module
  include ../../../../includes/section/backend/modules/working-with-modules
  include ../../../../includes/section/backend/modules/module-loader
  include ../../../../includes/section/backend/modules/configuration
  include ../../../../includes/section/backend/modules/structure
  include ../../../../includes/section/backend/modules/hooks-and-events
  include ../../../../includes/section/backend/modules/creating-modules
  include ../../../../includes/section/backend/modules/testing-modules
  include ../../../../includes/section/backend/modules/getting-help