extends ../../../../../layouts/subdocs

block head
  title Class Proxies &middot; Documentation &middot; CleverStack.io

block docsheader
  h1 Backend Documentation
  p Class Proxies in the CleverStack Node js Framework.

block content
  .google-ads(style='margin-bottom: 25px;')
    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5940583402028078', data-ad-slot='1974927947', data-ad-format='auto')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
  
  include ../../../../../includes/section/backend/classes/proxies

  ul.pager(style="margin-top: 50px;")
    li.previous
      a.btn(href="/documentation/backend/classes/events/", title="Class Events")
        i.fa.fa-backward
        |  Back 
    li.next
      a.btn(href="/documentation/backend/modules/overview/", title="Modules Overview") Next 
        i.fa.fa-forward