.bs-docs-section
  .page-header
    h1(id="install-cleverstack") Install CleverStack

  p.lead Setup is made easy using our CleverStack Command Line Interface (CLI).
  pre.highlight
    code(class="language-bash" data-lang="bash") npm install -g cleverstack-cli

  div(class="bs-callout bs-callout-info")
    h4 Windows users
    p You should run this command (and others like it) in the windows command (cmd) prompt, and in some cases you will need to run your cmd prompt as Administrator

  div(class="bs-callout bs-callout-danger")
    h4 Linux/Mac Users
    p You may need to run this command using "sudo", but you should note if you need to use sudo then something is wrong with your file/folder permissions
      pre.highlight 
        code(class="language-bash" data-lang="bash") sudo npm install -g cleverstack-cli