.bs-docs-section
  .page-header
    h1(id="start-serving") Start serving

  p.lead To start your development servers using the CleverStack CLI.
    pre.highlight
      code(class="language-bash" data-lang="bash") clever serve

  p You are now <strong>serving</strong> http requests, open your web browser:
  pre.highlight
    code(class="language-bash" data-lang="bash") http://localhost:9000

  p From here we recommend visiting the <a href="/blog/guides/getting-started-with-cleverstack">Getting Started with CleverStack</a> guide on our <a href="/blog/">Blog</a> and then our <a href="/documentation">Documentation</a>