doctype 5
html(lang='en')
  head
    include ./includes/header
    
  body
    include ../includes/googleAnalytics
    include ../includes/sumome
    include ../includes/charmux
    block navigation
    block content
