.bs-docs-section
  h3#example-module.page-header
    | The Example Module 
    a.permalink(href='/documentation/backend/modules/example-module/', title='Permalink')
      small ¶
    br
    small An example of how CleverStack Modules should be built.
  ol.breadcrumb
    li
      a(href='/documentation/#backend') Documentation
    li
      a(href='/documentation/backend/#modules') Backend
    li
      a(href='/documentation/backend/modules/#example-module') Modules
    li.active The Example Module
  p.lead
    | For an in-depth example of how to create CleverStack enhanced Node Modules, take a look at the 
    a(href='https://github.com/CleverStack/backend-example-module') backend-example-module
  p
    | To install this module in your application use the CleverStack CLI's 
    code install
    |  command.
    br
    | (ie. 
    code clever install backend-example-module
    | )
  img(src='/images/screenshots/clever-install.png', width='100%')
