.bs-docs-section
  h3#getting-help.page-header Getting Help
    a.permalink(href='/documentation/backend/modules/getting-help/', title='Permalink')
      small ¶
  ol.breadcrumb
    li
      a(href='/documentation/#backend') Documentation
    li
      a(href='/documentation/backend/#modules') Backend
    li
      a(href='/documentation/backend/modules/#getting-help') Modules
    li.active Getting Help
  p.lead
    | If you have any problems (including errors, exceptions and even general usage) with the CleverStack Node-Seed.
  ul
    li
      | Check the Github 
      a(href='https://github.com/cleverstack/node-seed/issues') issues page
      | , if you found a bug but don't see a ticket for it, please 
      a(href='https://github.com/CleverStack/node-seed/issues/new') open an issue
      | .
    li
      | Get some help from the Cleverstack 
      a(href='https://groups.google.com/forum/#!forum/clever-stack') Google Group
    li
      | Get some help from 
      a(href='http://stackoverflow.com/questions/tagged/cleverstack') Stack Overflow
    li
      | Log into the public access 
      a(href='https://gitter.im/CleverStack?utm_source=share-link&utm_medium=link&utm_campaign=share-link') Giiter Room
      |  and ask for help.
    li
      | If your still having problems, please 
      a(href='https://github.com/CleverStack/node-seed/issues/new') raise an issue
      | .
