.bs-docs-section
  h3#introduction.page-header
    | Modules 
    a.permalink(href='/documentation/backend/modules/introduction/', title='Permalink')
      small ¶
  ol.breadcrumb
    li
      a(href='/documentation/#backend') Documentation
    li
      a(href='/documentation/backend/#modules') Backend
    li
      a(href='/documentation/backend/modules/#introduction') Classes
    li.active Modules

  p.lead
    | CleverStack introduces a 
    strong
      i new and powerful
    |  approach to 
    strong
      i modules
    | , that was designed with three goals in mind; 
    strong
      i flexibility
    | , 
    strong
      i simplicity
    | , and 
    strong
      i re-usability
    |  - as best practice, all functionality including what is in the CleverStack Core should be defined inside of modules.
  p.lead.sub
    i
      | CleverStack 
      strong removes the complexity
      |  from installing & configuring modules, makes 
      strong developing modules easier
      |  (vertical scale), and allows you to easily 
      strong re-use modules
      |  with little or no code change 
      strong between projects
      | . (horizontal scale).
  p.lead.sub
    | CleverStack encourages developers to shift their thinking and minset towards not only viewing the modularization principles 
    strong
      i on a vertical scale
    | , (e.g. reducing developing time), but also 
    strong
      i on a horizontal scale
    | . (e.g. not needing to focus on every single detail, being able to take a step back and look at your environment across the horizon).
  br
  br
  blockquote
    h6 Complexity kills. It sucks the life out of developers, it makes products difficult to plan, build and test, it introduces security challenges and it causes end-user and administrator frustration.
    footer(style='font-size: 12px;') Ray Ozzie
