li
  a(href='/documentation/backend#modules', style='padding-left: 10px !important;color: #563d7c;')
    strong Backend
    br
    small (viewing Modules)
li
  a(href='#introduction') Introduction
li
  a(href='#what-are-modules') What are Modules
li
  a(href='#what-about-npm') What about NPM
li
  a(href='#what-powers-modules') What powers Modules
li
  a(href='#example-module') The Example Module
li
  a(href='#working-with-modules') Working With Modules
  ul.nav.nav-nest
    li
      a(href='#installing-modules') Installing Modules
    li
      a(href='#removing-modules') Removing Modules
    li
      a(href='#upgrading-modules') Upgrading Modules
    li
      a(href='#downgrading-modules') Downgrading Modules
li
  a(href='#module-loader')
    | The Module Loader
    ul.nav.nav-nest
      li
        a(href='#module-loader-overview') Overview
      li
        a(href='#module-loader-hooks') Module Hooks
      li
        a(href='#module-loader-events') Loader Events
li
  a(href='#configuration') Module Configuration
li
  a(href='#structure') Module Structure
li
  a(href='#hooks-and-events') Module Hooks & Events
li
  a(href='#creating-modules') Creating Modules
  ul.nav.nav-nest
    li
      a(href='#generating-modules') Using the CLI
    li
      a(href='#class-definition') Class Definition
    li
      a(href='#class-options') Class Options
li
  a(href='#testing-modules') Testing Modules
  ul.nav
    li
      a(href='#testing-unit') Running Unit Tests
    li
      a(href='#testing-e2e') Running E2E Tests
    li
      a(href='#testing-coverage') Code Coverage Reports
li
  a(href='#getting-help') Getting Help
