extends ../../../../../layouts/subdocs

block head
  title What are modules? &middot; Documentation &middot; CleverStack.io

block docsheader
  h1 Backend Documentation
  p What are modules in the CleverStack Node &amp; Angular Framework.

block content
  .google-ads(style='margin-bottom: 25px;')
    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5940583402028078', data-ad-slot='1974927947', data-ad-format='auto')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
  
  include ../../../../../includes/section/backend/modules/what-are-modules

  ul.pager(style="margin-top: 50px;")
    li.previous
      a.btn(href="/documentation/backend/modules/introduction/", title="Modules Introduction")
        i.fa.fa-backward
        |  Back 
    li.next
      a.btn(href="/documentation/backend/modules/what-about-npm/", title="What about NPM?") Next 
        i.fa.fa-forward